<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mod 2 Stylesheet</title>
<style>

/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-family: Arial;
  font-size: 175%;
  color: #3b3b3b;
  margin-top: 35px;
  margin-bottom: 45px;
}
.Container {
  width: 30%;
  height: 16.66%;
  margin-left: 23px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f4e8ff;
  font-family: Arial;
  color: #3b3b3b;
}
section {
  float: left;
}
div {
  border: 1px solid black;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 0px;
  border-right: 0px;
  width: 100px;
  height: 20px;
  font-family: Arial;
  font-size: 125%;
  text-align: center;
  font-weight: bold;
  color: #3b3b3b;
  padding: 5px;
}
#Chicken {
  background-color: #ffb8e7;
  float: right;
 }
#Beef {
  background-color: #b8ffd3;
  float: right;
}
#Sushi {
  background-color: #b8fdff;
  float: right;
}
#First {
  margin-top: 0px;
}
#Second {
  position: relative;
  margin-top: -18.5px;
}
#Third {
  margin-top: -37px;
}
.Text {
  margin: 20px;
  font-size: 100%;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  #First, #Second, #Third
  }
  #First {
    width: 30%;
  }
  #Second {
    width: 30%;
  }
  #Third {
    width: 30%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #First, #Second, #Third
  }
  #First {
    width: 45%;
    height: 33.33%
  }
  #Second {
    width: 45%;
    height: 33.33%
  }
  #Third {
    margin-top: 20px;
    width: 92.5%;
    height: 33.33%
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  #First, #Second, #Third
  }
  #First {
    width: 90%;
    height: 16.66%
  }
  #Second {
    width: 90%;
    height: 16.66%
  }
  #Third {
    width: 90%;
    height: 16.66%
  }
}
</style>
</head>
<body>
<h1>Our Menu</h1>

<div class="row">
  <div class="col-lg-3 col-md-6"><p>Chicken</p></div>
  <div class="col-lg-3 col-md-6"><p>Beef</p></div>
  <div class="col-lg-3 col-md-6"><p>Sushi</p></div>
</div>
</body>
</html>