<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mod 2 Stylesheet</title>
<style>

/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-family: Arial;
  font-size: 175%;
  color: #3b3b3b;
  margin-top: 35px;
  margin-bottom: 45px;
}
div {
  float: right;
  border: 1px solid black;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 0px;
  border-right: 0px;
  width: 100px;
  height: 20px;
  font-family: Arial;
  font-size: 125%;
  text-align: center;
  font-weight: bold;
  color: #3b3b3b;
  padding: 5px;
}
.Container {
  width: 25%;
  height: 16.66%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f4e8ff;
  font-family: Arial;
  color: #3b3b3b;
  }
.Subheader {
  float: right;
}
#Chicken {
  background-color: #ffb8e7;
}
#Beef {
  background-color: #b8ffd3;
}
#Sushi {
  background-color: #b8fdff;
}
.Text {
  margin: 20px;
  font-size: 100%;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  #First, #Second, #Third {
    float: left;
    width: 30%;
    height: 16.66%
  }
  #First {
    margin-top: 0px;
    margin-left: 3%
  }
  #Second {
    margin-top: -18.5px;
    margin-right: 20px;
    margin-left: 20px;
  }
  #Third {
    margin-top: -37px;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #First, #Second, #Third {
    float: left;
  }
  #First {
    margin-top: 0px;
    margin-left: 20px;
    width: 46%;
  }
  #Second {
    margin-top: -18.5px;
    margin-left: 20px;
    width: 46%;
  }
  #Third {
    margin-top: 20px;
    margin-left: 20px;
    width: 94%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  #First, #Second, #Third {
    width: 90%;
  }
  #First {
  }
  #Second {
  }
  #Third {
  }
}
</style>